html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,
code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

.header{
  position: fixed;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  background: linear-gradient(135deg, rgb(128,0,128), rgb(75,50,255), rgb(0,128,0), rgb(255,215,0), rgb(255,50,75));
  background: -moz-linear-gradient(135deg, rgb(128,0,128), rgb(75,50,255), rgb(0,128,0), rgb(255,215,0), rgb(255,50,75));
  background: -webkit-linear-gradient(135deg, rgb(128,0,128), rgb(75,50,255), rgb(0,128,0), rgb(255,215,0), rgb(255,50,75));
  background: -ms-linear-gradient(135deg, rgb(128,0,128), rgb(75,50,255), rgb(0,128,0), rgb(255,215,0), rgb(255,50,75));
  background: -o-linear-gradient(135deg, rgb(128,0,128), rgb(75,50,255), rgb(0,128,0), rgb(255,215,0), rgb(255,50,75));
  width: 100%;
  height: 50px;
  padding: 10px;
  z-index: 2;
}

.title{
  font-size: 20px;
  top: 15px;
  text-align: center;
  font-family: "Times New Roman";
  position: absolute;
  left: 50%;
  width: 150px;
  margin-left: -75px;
}

#w{
  color: white;
}

.jobmain{
  position: absolute;
  width: 100%;
  height: auto;
  top: 50px;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(-44deg,rgb(11,11,11),rgb(11,11,66)55%,rgb(0,0,11));
  background: -moz-linear-gradient(-44deg,rgb(11,11,11),rgb(11,11,66)55%,rgb(0,0,11));
  background: -webkit-linear-gradient(-44deg,rgb(11,11,11),rgb(11,11,66)55%,rgb(0,0,11));
  background: -ms-linear-gradient(-44deg,rgb(11,11,11),rgb(11,11,66)55%,rgb(0,0,11));
  background: -o-linear-gradient(-44deg,rgb(11,11,11),rgb(11,11,66)55%,rgb(0,0,11));
}

a:link{
  text-decoration: none;
}

#jobclick{
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  font-size: 30px;
}

td.J, td.M{
  height: 100px;
  line-height: 100px;
}

.J{
  background: red;
}

.M{
  background: blue;
}
